#
# This file is used for converting LaTeX commands by simple text exchange.
# Write the LaTex command with slash, followed by comma.
# The rest of the line till the . character will be written to the RTF file
# instead of the command.
# After the # character everything is ignored till end of line.
# To select a specific font use *fontname*. Make sure that the fontname is
# listed in the fonts configuration file at least as dummy.
# The * character is written as **
#
\AA,\'c5.
\aa,\'e5.
\AE,\'c6.
\ae,\'e6.
\aleph,{\u8501**}.
\Alpha,{\u913**}.
\alpha,{\u945**}.
\amalg,{\f*Unicode*\u8720**}.
\angle,{\f*Unicode*\u8736**}.
\approx,{\u8776**}.
\approxeq,{\u8778**}.
\arccos,{\plain arccos}.
\arcsin,{\plain arcsin}.
\arctan,{\plain arctan}.
\arg,{\plain arg}.
\ast,{\u8727**}.
\asymp,{\u8781**}.
#
\backepsilon,{\u8717**}.
\backprime,{\f*Unicode*\u8245**}.
\backsim,{\f*Unicode*\u8765**}.
\backsimeq,{\u8909**}.
\backslash,\\.
\barwedge,{\u8892**}.
\because,{\f*Unicode*\u8757**}.
\beta,{\u946**}.
\Beta,{\u914**}.
\beth,{\u1489**}.
\between,{\u8812**}.
\bigcap,{\u8899**}.
\bigcirc,{\u9675**}.
\bigcup,{\u8898**}.
\bigodot,{\f*Unicode*\u10752**}.
\bigoplus,{\f*Unicode*\u10753**}.
\bigotimes,{\f*Unicode*\u10754**}.
\bigskip,\par \par \par.
\bigsqcup,{\f*Unicode*\u10758**}.
\bigstar,{\u8727**}.
\bigtriangledown,{\f*Unicode*\u9661**}.
\bigtriangleup,{\f*Unicode*\u9651**}.
\biguplus,{\f*Unicode*\u10756**}.
\bigvee,{\u8897**}.
\bigwedge,{\u8896**}.
\blackcircle,{\u8226**}.
\blacksquare,{\u9642**}.
\blacktriangle,{\u9652**}.
\blacktriangledown,{\u9662**}.
\blacktriangleleft,{\u9666**}.
\blacktriangleright,{\u9656**}.
\bmod,{\plain mod}.
\bot,{\f*Unicode*\u8869**}.
\bowtie,{\u8904**}.
\Box,{\u9633**}.
\boxdot,{\u8865**}.
\boxminus,{\u8863**}.
\boxplus,{\u8862**}.
\boxtimes,{\u8864**}.
\bullet,{\u8226**}.
\Bumpeq,{\u8782**}.
\bumpeq,{\u8783**}.
#
\cap,{\u8745**}.
\Cap,{\u8915**}.
\cdot,{\u8901**}.
\cdots,{\u8943**}.
\centerdot,{\u8729**}.
\Chi,{\u935**}.
\chi,{\u967**}.
\circ,{\u8728**}.
\circeq,{\u8791**}.
\circlearrowleft,{\u8634**}.
\circlearrowright,{\u8635**}.
\circledS,{\f*Unicode*\u9416**}.
\circledast,{\u8859**}.
\circledcirc,{\u8858**}.
\circleddash,{\u8861**}.
\clubsuit,{\u9827**}.
\colon,: .
\Colon,{\f*Unicode*\u8759**}.
\coloneq,{\u8788**}.
\complement,{\u8705**}.
\cong,{\u8773**}.
\coprod,{\f*Unicode*\u8720**}.
\copyright,\'a9.
\cos,{\plain cos}.
\cosh,{\plain cosh}.
\cot,{\plain cot}.
\coth,{\plain coth}.
\csc,{\plain csc}.
\cup,{\f*Unicode*\u8746**}.
\Cup,{\u8914**}.
\curlyeqprec,{\u8926**}.
\curlyeqsucc,{\u8927**}.
\curlyvee,{\u8910**}.
\curlywedge,{\u8911**}.
\curvearrowleft,{\u8630**}.
\curvearrowright,{\u8631**}.
\CYRBuki,{\u1041**}.
\CYRbuki,{\u1073**}.
\CYRdobro,{\u1076**}.
\CYRDsche,{\u1069**}.
\CYRFert,{\u1060**}.
\CYRfert,{\u1092**}.
\CYRGlagol,{\u1043**}.
\CYRglagol,{\u1075**}.
\CYRIsche,{\u1048**}.
\CYRische,{\u1080**}.
\CYRJa,{\u1102**}.
\CYRJerr,{\u1066**}.
\CYRjerr,{\u1098**}.
\CYRJerui,{\u1067**}.
\CYRjerui,{\u1099**}.
\CYRJher,{\u1068**}.
\CYRjher,{\u1100**}.
\CYRJu,{\u1046**}.
\CYRju,{\u1078**}.
\CYRKako,{\u1050**}.
\CYRkako,{\u1082**}.
\CYRLjudi,{\u1051**}.
\CYRljudi,{\u1083**}.
\CYRmuislette,{\u1084**}.
\CYRnasch,{\u1085**}.
\CYRPakoy,{\u1055**}.
\CYRpakoy,{\u1087**}.
\CYRScha,{\u1064**}.
\CYRscha,{\u1096**}.
\CYRSchiwete,{\u1049**}.
\CYRschiwete,{\u1081**}.
\CYRSchtscha,{\u1065**}.
\CYRschtscha,{\u1097**}.
\CYRSemlja,{\u1047**}.
\CYRsemlja,{\u1101**}.
\CYRtjsche,{\u1070**}.
\CYRTscherw,{\u1061**}.
\CYRtscherw,{\u1093**}.
\CYRtwerdo,{\u1090**}.
\CYRU,{\u1059**}.
\CYRwjedi,{\u1074**}.
\CYRZelo,{\u1071**}.
\CYRzelo,{\u1103**}.
\CYRZui,{\u1062**}.
\CYRzui,{\u1094**}.
#
\dag,\'86.
\dagger,\'86.
\daleth,{\u1491**}.
\dashleftarrow,{\u8672**}.
\dashrightarrow,{\u8674**}.
\dashv,{\u8867**}.
\ddag,\'87.
\ddagger,\'87.
\ddddot,{\f*Unicode*\u8412**}.
\ddots,{\u8945**}.
\deg,{\plain deg}.
\degree,\'b0.
\degrees,\'b0.
\degres,\'b0.
\Delta,{\u916**}.
\delta,{\u948**}.
\det,{\plain det}.
\diagdown,{\f*Unicode*\u8726**}.
\diagup,{\u47**}.
\Diamond,{\f*Unicode*\u9671**}.
\diamond,{\u8900**}.
\diamondsuit,{\u9830**}.
\digamma,{\u989**}.
\dim,{\plain dim}.
\div,{\u247**}.
\divideontimes,{\u8903**}.
\dlcorn,{\f*Unicode*\u8990**}.
\dlcorner,{\f*Unicode*\u8990**}.
\doteq,{\u8784**}.
\Doteq,{\u8785**}.
\doteqdot,{\u8785**}.
\dotminus,{\u8760**}.
\dotplus,{\u8724**}.
\dots,{\u8230**}.
\doublecap,{\u8915**}.
\doublecup,{\u8914**}.
\Downarrow,{\u8659**}.
\downarrow,{\u8595**}.
\downdownarrows,{\u8650**}.
\downharpoonleft,{\u8643**}.
\downharpoonright,{\u8642**}.
\drcorn,{\f*Unicode*\u8991**}.
\drcorner,{\f*Unicode*\u8991**}.
#
\ell,{\u8467**}.
\emptyset,{\u8709**}.
\epsilon,{\u949**}.
\eqcirc,{\u8790**}.
\eqcolon,{\u8789**}.
\eqsim,{\u8770**}.
\eqslantless,{\u8924**}.
\equiv,{\u8801**}.
\eta,{\u951**}.
\eth,{\u240**}.
\exists,{\f*Unicode*\u8707**}.
\exp,{\plain exp}.
#
\fallingdotseq,{\f*Unicode*\u8786**}.
\Finv,{\u8498**}.
\flat,{\f*Unicode*\u9837**}.
\forall,{\f*Unicode*\u8704**}.
\frown,{\f*Unicode*\u8994**}.
#
\Gamma,{\u915**}.
\gamma,{\u947**}.
\gcd,{\plain gcd}.
\ge,{\u8805**}.
\geq,{\u8805**}.
\geqq,{\f*Unicode*\u8807**}.
\geqslant,{\u8805**}.
\gets,{\u8592**}.
\gg,{\f*Unicode*\u8811**}.
\Gg,{\u8921**}.
\ggg,{\u8921**}.
\gggtr,{\u8921**}.
\gimel,{\u1490**}.
\gneqq,{\u8809**}.
\gnsim,{\u8935**}.
\gtrdot,{\u8919**}.
\gtreqless,{\u8923**}.
\gtrless,{\u8823**}.
\gtrsim,{\u8819**}.
\guillemotleft,\'ab.
\guillemotright,\'bb.
\guilsinglleft,\'8b.
\guilsinglright,\'9b.
#
\hbar,{\u295**}.
\heartsuit,{\u9829**}.
\hom,{\plain hom}.
\hookleftarrow,{\u8617**}.
\hookrightarrow,{\u8618**}.
\hslash,{\u8463**}.
#
\iff,{\f*Unicode*\u10234** }.
\iint,{\u8748**}.
\Im,{\u8465**}.
\imath,{\u305**}.
\in,{\f*Unicode*\u8712**}.
\inf,{\plain inf}.
\infty,{\u8734**}.
\int,{\u8747**}.
\intercal,{\u8890**}.
\iota,{\u953**}.
#
\jmath,{\u567**}.
\Join,{\u8904**}.
#
\kappa,{\u954**}.
\ker,{\plain ker}.
#
\L,{\u321**}.
\l,{\u322**}.
\Lambda,{\u923**}.
\lambda,{\u955**}.
\land,{\f*Unicode*\u8743**}.
\langle,{\f*Unicode*\u9001**}.
\lbrack,[.
\lbrace,\{.
\lceil,{\f*Unicode*\u8968**}.
\ldots,{\u8230**}.
\le,{\u8804**}.
\leadsto,{\u8669**}.
\Leftarrow,{\u8656**}.
\leftarrow,{\u8592**}.
\leftarrowtail,{\u8610**}.
\leftharpoondown,{\u8637**}.
\leftharpoonup,{\u8636**}.
\leftleftarrows,{\u8647**}.
\Leftrightarrow,{\f*Unicode*\u8660**}.
\leftrightarrow,{\u8596**}.
\leftrightarrows,{\u8646**}.
\leftrightharpoons,{\u8651**}.
\leftrightsquigarrow,{\u8621**}.
\leftthreetimes,{\u8907**}.
\leq,{\u8804**}.
\leqq,{\f*Unicode*\u8806**}.
\leqslant,{\f*Unicode*\u10877**}.
\lessdot,{\u8918**}.
\lesseqgtr,{\u8922**}.
\lessgtr,{\u8822**}.
\lesssim,{\u8818**}.
\lfloor,{\f*Unicode*\u8970**}.
\lg,{\plain lg}.
\lhd,{\f*Unicode*\u9665**}.
\lim,{\plain lim}.
\liminf,{\plain liminf}.
\limsup,{\plain limsup}.
\ll,{\f*Unicode*\u8810**}.
\Ll,{\u8920**}.
\llcorn,{\f*Unicode*\u8990**}.
\llcorner,{\f*Unicode*\u8990**}.
\Lleftarrow,{\u8666**}.
\lll,{\u8920**}.
\llless,{\u8920**}.
\ln,{\plain ln}.
\lneqq,{\u8808**}.
\lnot,{\u172**}.             
\lnsim,{\u8934**}.
\log,{\plain log}.
\Longleftarrow,{\f*Unicode*\u10232**}.
\longleftarrow,{\f*Unicode*\u10229**}.
\Longleftrightarrow,{\f*Unicode*\u10234**}.
\longleftrightarrow,{\f*Unicode*\u10231**}.
\longmapsto,{\f*Unicode*\u10236**}.
\Longrightarrow,{\f*Unicode*\u10233**}.
\longrightarrow,{\f*Unicode*\u10230**}.
\looparrowleft,{\u8619**}.
\looparrowright,{\u8620**}.
\lor,{\f*Unicode*\u8744**}.
\lozenge,{\u9674**}.
\lrcorn,{\f*Unicode*\u8991**}.
\lrcorner,{\f*Unicode*\u8991**}.
\Lsh,{\u8624**}.
\ltimes,{\u8905**}.
#
\maltese,{\u10016**}.
\mapsto,{\u8614**}.
\max,{\plain max}.
\measuredangle,{\u8737**}.
\medskip,\par \par.
\mho,{\u8487**}.
\mid,|.
\min,{\plain min}.
\minus,{\u8722**}.
\models,{\u8871**}.
\mp,{\f*Unicode*\u8723**}.
\mu,{\u956**}.
\multimap,{\u8888**}.
#
\nabla,{\f*Unicode*\u8711**}.
\napprox,{\u8777**}.
\natural,{\u9838**}.
\ncong,{\u8775**}.
\ne,{\u8800**}.
\nearrow,{\f*Unicode*\u8599**}.
\neg,{\u8800**}.
\neq,{\u8800**}.
\nequiv,{\u8802**}.
\newline,\line .
\nexists,{\u8708**}.
\ngeq,{\u8817**}.
\ngeqslant,{\u8817**}.
\ngtr,{\f*Unicode*\u8815**}.
\ni,{\f*Unicode*\u8715**}.
\nleftarrow,{\u8602**}.
\nLeftarrow,{\u8653**}.
\nleftrightarrow,{\u8622**}.
\nLeftrightarrow,{\u8654**}.
\nleq,{\u8816**}.
\nleqslant,{\u8816**}.
\nless,{\f*Unicode*\u8814**}.
\nmid,{\u8740**}.
\notin,{\u8713**}.
\nparallel,{\u8742**}.
\nprec,{\u8832**}.
\npreceq,{\u8928**}.
\nrightarrow,{\u8603**}.
\nRightarrow,{\u8655**}.
\nsim,{\u8769**}.
\nsimeq,{\u8772**}.
\nsubset,{\u8836**}.
\nsubseteq,{\u8840**}.
\nsucc,{\u8833**}.
\nsucceq,{\u8929**}.
\nsupset,{\u8837**}.
\ntriangleleft,{\u8938**}.
\ntrianglelefteq,{\u8940**}.
\ntriangleright,{\u8939**}.
\ntrianglerighteq,{\u8941**}.
\nu,{\u957**}.
\nVDash,{\u8879**}.
\nVdash,{\u8878**}.
\nvDash,{\u8877**}.
\nvdash,{\u8876**}.
\nwarrow,{\f*Unicode*\u8598**}.
#
\O,\'d8.
\o,\'f8.
\odot,{\f*Unicode*\u8857**}.
\OE,\'8c.
\oe,\'9c.
\oint,{\f*Unicode*\u8750**}.
\Omega,{\u937**}.
\omega,{\u969**}.
\omicron,{\u959**}.
\ominus,{\f*Unicode*\u8854**}.
\oplus,{\f*Unicode*\u8853**}.
\oslash,{\f*Unicode*\u8856**}.
\otimes,{\f*Unicode*\u8855**}.
\owns,{\f*Unicode*\u8715**}.
#
\P,\'b6.
\parallel,{\f*Unicode*\u8741**}.
\partial,{\u8706**}.
\perp,{\f*Unicode*\u8869**}.
\Phi,{\u934**}.
\phi,{\u966**}.
\Pi,{\u928**}.
\pi,{\u960**}.
\pitchfork,{\u8916**}.
\pm,{\u177**}.
\pounds,\'a3.
\Pr,{\plain Pr}.
\prec,{\u8826**}.
\preccurlyeq,{\u8828**}.
\preceq,{\f*Unicode*\u10927**}.
\precnsim,{\u8936**}.
\precsim,{\u8830**}.
\prime,'.
\prod,{\u8719**}.
\propto,{\f*Unicode*\u8733**}.
\Psi,{\u936**}.
\psi,{\u968**}.
#
\questeq,{\u8799**}.
\quotedblbase,\'84.
\quotesinglbase,\'82.
#
\rangle,{\f*Unicode*\u9002**}.
\rbrack,].
\rbrace,\}.
\rceil,{\f*Unicode*\u8969**}.
\Re,{\u8476**}.
\rfloor,{\f*Unicode*\u8971**}.
\rhd,{\f*Unicode*\u9655**}. 
\rho,{\u1009**}.
\Rightarrow,{\f*Unicode*\u8658**}.
\rightarrow,{\u8594**}.
\rightarrowtail,{\u8611**}.
\rightharpoondown,{\u8641**}.
\rightharpoonup,{\u8640**}.
\rightleftarrows,{\u8644**}.
\rightleftharpoons,{\u8652**}.
\rightrightarrows,{\u8649**}.
\rightthreetimes,{\u8908**}.
\risingdotseq,{\u8787**}.
\Rrightarrow,{\u8667**}.
\Rsh,{\u8625**}.
\rtimes,{\u8906**}.
#
\S,\'a7.
\searrow,{\f*Unicode*\u8600**}.
\sec,{\plain sec}.
\setminus,{\u8726**}.
\sharp,{\u9839**}.
\shortmid,{\u124**}.
\shortparallel,{\f*Unicode*\u8741**}.
\Sigma,{\u931**}.
\sigma,{\u963**}.
\sim,{\f*Unicode*\u8764**}.
\simeq,{\u8771**}.
\sin,{\plain sin}.
\sinh,{\plain sinh}.
\slash,/.
\smallfrown,{\f*Unicode*\u8994**}.
\smallsetminus,{\u8726**}.
\smallskip,\par.
\smallsmile,{\f*Unicode*\u8995**}.
\smile,{\f*Unicode*\u8995**}.
\spadesuit,{\u9824**}.
\sphericalangle,{\u8738**}.
\sqcap,{\u8851**}.
\sqcup,{\u8852**}.
\sqsubset,{\u8847**}.
\sqsubseteq,{\u8849**}.
\sqsupset,{\u8848**}.
\sqsupseteq,{\u8850**}.
\square,{\u9633**}.
\ss,\'df.
\star,{\u8902**}.
\subset,{\f*Unicode*\u8834**}.
\Subset,{\u8912**}.
\subseteq,{\f*Unicode*\u8838**}.
\subsetneq,{\u8842**}.
\succ,{\u8827**}.
\succcurlyeq,{\u8829**}.
\succeq,{\f*Unicode*\u10928**}.
\succnsim,{\u8937**}.
\succsim,{\u8831**}.
\sum,{\u8721**}.
\sup,{\plain sup}.
\supset,{\f*Unicode*\u8835**}.
\Supset,{\u8913**}.
\supseteq,{\f*Unicode*\u8839**}.
\supsetneq,{\u8843**}.
\surd,{\u8730**}.
\swarrow,{\f*Unicode*\u8601**}.
#
\tan,{\plain tan}.
\tanh,{\plain tanh}.
\tau,{\u964**}.
\textalpha,{\u945**}.
\textasciicircum,^.
\textasciitilde,~.
\textbackslash,\\.
\textbar,|.
\textbeta,{\u946**}.
\textbullet,\'95.
\textcent,\'a2.
\textchi,{\u967**}.
#\textcircled,{¥}.
\textcompwordmark,.
\textcopyright,\'a9.
\textcurrency,\'a4.
\textdegree,\'b0.
\textDelta,{\u916**}.
\textdelta,{\u948**}.
\textdiv,\'f7.
\textellipsis,\'85.
#\textellipsis,{\u8230**}.
#\textemdash,\emdash .
\textemdash,\'97.
#\textemdash,{\u8212**}.
#\textendash,\endash .
\textendash,\'96.
\textepsilon,{\u949**}.
\texteta,{\u951**}.
\texteuro,\'80.
\textexclamdown,\'a1.
\textGamma,{\u915**}.
\textgamma,{\u947**}.
\textgreater,>.
\textIJlig,{\u306**}.
\textijlig,{\u307**}.
\textiota,{\u953**}.
\textkappa,{\u954**}.
\textLambda,{\u923**}.
\textlambda,{\u955**}.
\textless,<.
\textminus,{\u8722**}.
\textmonetary,\'a4.
\textmu,{\u956**}.
\textmultiply,\'d7.
\textnu,{\u957**}.
\textOmega,{\u937**}.
\textonesuperior,\'b9.
\textordfeminine,\'aa.
\textordmasculine,\'ba.
\textparagraph,\'b6.
\textperiodcentered,{\u8901**}.
\textperthousand,\'89.
\textPhi,{\u934**}.
\textPi,{\u928**}.
\textpi,{\u960**}.
\textpm,\'b1.
\textPsi,{\u936**}.
\textpsi,{\u968**}.
\textquestiondown,\'bf.
\textquotedbl,".
\textquotedblleft,\'93.
\textquotedblright,\'94.
\textquoteleft,\'91.
\textquoteright,\'92.
\textregistered,\'ae.
\textsection,\'a7.
\textSigma,{\u931**}.
\textsigma,{\u963**}.
\texttau,{\u964**}.
\textTheta,{\u920**}.
\textthreesuperior,\'b3.
\texttimes,\'d7.
\texttrademark,\'99.
\texttwosuperior,\'b2.
\textunderscore,_.
\textvisiblespace,_.
\textXi,{\u926**}.
\textzeta,{\u950**}.
\times,{\u215**}.
\therefore,{\f*Unicode*\u8756**}.
\Theta,{\u964**}.
\theta,{\u920**}.
\to,{\u8594**}.
\top,{\u8890**}.
\triangle,{\u9653**}.
\triangledown,{\u9663**}.
\triangleleft,{\u9667**}.
\trianglelefteq,{\u8884**}.
\triangleq,{\u8796**}.
\triangleright,{\u9657**}.
\trianglerighteq,{\u8885**}.
\twoheadleftarrow,{\u8606**}.
\twoheadrightarrow,{\u8608**}.
#
\ulcorn,{\f*Unicode*\u8988**}. 
\ulcorner,{\f*Unicode*\u8988**}. 
\unlhd,{\u8884**}.
\unrhd,{\u8885**}.
\Uparrow,{\u8657**}.
\uparrow,{\u8593**}.
\Updownarrow,{\u8661**}.
\updownarrow,{\u8597**}.
\upharpoonleft,{\u8639**}.
\upharpoonright,{\u8638**}.
\uplus,{\u8846**}.
\Upsilon,{\u933**}.
\upsilon,{\u8593**}.
\upuparrows,{\u8648**}.
\urcorn,{\f*Unicode*\u8989**}.
\urcorner,{\f*Unicode*\u8989**}.
#
\varepsilon,{\u949**}.
\varkappa,{\u1008**}.
\varnothing,{\u8709**}.
\varsigma,{\u962**}.
\vartheta,{\u977**}.
\varrho,{\u1009**}.
\varphi,{\u981**}.
\varpi,{\u982**}.
\varpropto,{\f*Unicode*\u8733**}.
\vartriangle,{\f*Unicode*\u9651**}.
\vartriangleleft,{\u8882**}.
\vartriangleright,{\u8883**}.
\Vdash,{\u8873**}.
\vDash,{\u8872**}.
\vdash,{\u8866**}.
\vdots,{\u8942**}.
\vee,{\f*Unicode*\u8744**}.
\veebar,{\u8891**}.
\Vert,{\f*Unicode*\u8741**}.
\vert,|.
\vfill,\par \pard .
\Vvdash,{\u8874**}.
#
\wedge,{\f*Unicode*\u8743**}.
\wedgeq,{\u8793**}.
\wp,{\u8472**}.
\wr,{\u8768**}.
#
\xi,{\u958**}.
\Xi,{\u926**}.
#
\zeta,{\u950**}.
#
\|,||.
#
\vernal,{\f*Astro*\u9800**}.
\ascnode,{\f*Astro*\u9738**}.
\descnode,{\f*Astro*\u9739**}.
\fullmoon,{\f*Astro*\u9675**}.
\newmoon,{\f*Astro*\u9679**}.
\rightmoon,{\f*Astro*\u9789**}.
\leftmoon,{\f*Astro*\u9790**}.
\astrosun,{\f*Astro*\u9737**}.
\mercury,{\f*Astro*\u9791**}.
\venus,{\f*Astro*\u9792**}.
\earth,{\f*Astro*\u9793**}.
\mars,{\f*Astro*\u9794**}.
\jupiter,{\f*Astro*\u9795**}.
\saturn,{\f*Astro*\u9796**}.
\uranus,{\f*Astro*\u9797**}.
\neptune,{\f*Astro*\u9798**}.
\pluto,{\f*Astro*\u9799**}.
\aries,{\f*Astro*\u9800**}.
\taurus,{\f*Astro*\u9801**}.
\gemini,{\f*Astro*\u9802**}.
\cancer,{\f*Astro*\u9803**}.
\leo,{\f*Astro*\u9804**}.
\virgo,{\f*Astro*\u9805**}.
\libra,{\f*Astro*\u9806**}.
\scorpio,{\f*Astro*\u9807**}.
\sagittarius,{\f*Astro*\u9808**}.
\capricornus,{\f*Astro*\u9809**}.
\aquarius,{\f*Astro*\u9810**}.
\pisces,{\f*Astro*\u9811**}.
\conjunction,{\f*Astro*\u9740**}.
\opposition,{\f*Astro*\u9741**}.
