# Revision 1.6  2001/05/20 07:12:36  prahl
# Updated to Version 1.9c of latex2rtf
#
# Revision 1.5  1998/07/03 07:12:36  glehner
# Updated to Version 1.7 of latex2rtf
#
# Revision 1.3  1995/03/23  17:12:23  ralf
# Added some conversions proposed by Laurent MUGNIER
#
# Revision 1.2  1995/03/23  15:58:08  ralf
# Reworked version by Friedrich Polzer and Gerhard Trisko
#
# Revision 1.1  1994/06/17  11:31:05  ralf
# Initial revision
#
# DirectConvert
# This file is used for converting LaTeX commands by simply text exchange
# write the LaTex command with slash, followed by comma
# the rest of the till the . character will be written to the RTF file
# instead of the command
# After this # character everything is ignored till end of line
# To select a specific font use *fontname*. Make sure that the fontname is
# listed in the fonts configuration file at least as dummy.
# The * character is written as **

# unusual characters in ansi encoding
\pounds,{\ansi\'a3}.
\dag,{\ansi\'86}.
\ddag,{\ansi\'87}.
\AA,{\ansi\'c5}.
\AE,{\ansi\'c6}.
\aa,{\ansi\'e5}.
\ae,{\ansi\'e6}.
\ss,{\ansi\'df}.
\S,{\ansi\'a7}.
\P,{\ansi\'b6}.
\O,{\ansi\'d8}.
\o,{\ansi\'f8}.
\oe,{\ansi\'9c}.
\OE,{\ansi\'8c}.
# a few characters from the MT Extra font
\triangleleft,{\f*MT Extra*\'3c}.
\triangleright,{\f*MT Extra*\'3e}.
\vdots,{\f*MT Extra*\'4d}.
\ddots,{\f*MT Extra*\'4f}.
\mapsto,{\f*MT Extra*\'61}.
\prec,{\f*MT Extra*\'66}.
\hbar,{\f*MT Extra*\'68}.
\ell,{\f*MT Extra*\'6c}.
\succ,{\f*MT Extra*\'70}.
# misc low chars in the Symbol font
\forall,{\f*Symbol*\'22}.
\exists,{\f*Symbol*\'24}.
\cong,{\f*Symbol*\'40}.
\ast,{\f*Symbol* **}.
\perp,{\f*Symbol*\'5e}.
\varpi,{\f*Symbol*\'76}.
\sim,{\f*Symbol*\'7e}.
# *** greek alphabet ***
\alpha,{\f*Symbol* a}.
\beta,{\f*Symbol* b}.
\chi,{\f*Symbol* c}.
\delta,{\f*Symbol* d}.
\epsilon,{\f*Symbol* e}.
\phi,{\f*Symbol* f}.
\gamma,{\f*Symbol* g}.
\eta,{\f*Symbol* h}.
\iota,{\f*Symbol* i}.
\varphi,{\f*Symbol* j}.
\kappa,{\f*Symbol* k}.
\lambda,{\f*Symbol* l}.
\mu,{\f*Symbol* m}.
\nu,{\f*Symbol* n}.
\omicron,{\f*Symbol* o}.
\pi,{\f*Symbol* p}.
\theta,{\f*Symbol* q}.
\rho,{\f*Symbol* r}.
\sigma,{\f*Symbol* s}.
\tau,{\f*Symbol* t}.
\upsilon,{\f*Symbol* u}.
\varpi,{\f*Symbol* v}.
\omega,{\f*Symbol* w}.
\xi,{\f*Symbol* x}.
\psi,{\f*Symbol* y}.
\zeta,{\f*Symbol* z}.
\Alpha,{\f*Symbol* A}.
\Beta,{\f*Symbol* B}.
\Chi,{\f*Symbol* C}.
\Delta,{\f*Symbol* D}.
\Phi,{\f*Symbol* F}.
\Gamma,{\f*Symbol* G}.
\vartheta,{\f*Symbol* J}.
\Lambda,{\f*Symbol* L}.
\Pi,{\f*Symbol* P}.
\prod,{\f*Symbol* P}.
\Theta,{\f*Symbol* Q}.
\Sigma,{\f*Symbol* S}.
\sum,{\f*Symbol* S}.
\varsigma,{\f*Symbol* V}.
\Omega,{\f*Symbol* W}.
\Xi,{\f*Symbol* X}.
\Psi,{\f*Symbol* Y}.
# high bit characters in Symbol font
\le,{\f*Symbol*\'a3}.
\infty,{\f*Symbol*\'a5}.
\clubsuit,{\f*Symbol*\'a7}.
\diamondsuit,{\f*Symbol*\'a8}.
\heartsuit,{\f*Symbol*\'a9}.
\spadesuit,{\f*Symbol*\'aa}.
\leftrightarrow,{\f*Symbol*\'ab}.
\leftarrow,{\f*Symbol*\'ac}.
\uparrow,{\f*Symbol*\'ad}.
\rightarrow,{\f*Symbol*\'ae}.
\downarrow,{\f*Symbol*\'af}.
\circ,{\f*Symbol*\'b0}.
\pm,{\f*Symbol*\'b1}.
\ge,{\f*Symbol*\'b3}.
\times,{\f*Symbol*\'b4}.
\propto,{\f*Symbol*\'b5}.
\partial,{\f*Symbol*\'b6}.
\bullet,{\f*Symbol*\'b7}.
\div,{\f*Symbol*\'b8}.
\ne,{\f*Symbol*\'b9}.
\equiv,{\f*Symbol*\'ba}.
\approx,{\f*Symbol*\'bb}.
\dots,{\f*Symbol*\'bc}.
\ldots,{\f*Symbol*\'bc}.
\aleph,{\f*Symbol*\'c0}.
\Im,{\f*Symbol*\'c1}.
\Re,{\f*Symbol*\'c2}.
\wp,{\f*Symbol*\'c3}.
\otimes,{\f*Symbol*\'c4}.
\oplus,{\f*Symbol*\'c5}.
\oslash,{\f*Symbol*\'c6}.
\emptyset,{\f*Symbol*\'c6}.
\cap,{\f*Symbol*\'c7}.
\cup,{\f*Symbol*\'c8}.
\supset,{\f*Symbol*\'c9}.
\supseteq,{\f*Symbol*\'ca}.
\subset,{\f*Symbol*\'cc}.
\subseteq,{\f*Symbol*\'cd}.
\in,{\f*Symbol*\'ce}.
\angle,{\f*Symbol*\'d0}.
\nabla,{\f*Symbol*\'d1}.
\copyright,{\f*Symbol*\'d3}.
#\prod,{\f*Symbol*\'d5}.
#\sqrt,{\f*Symbol*\'d6}.
\cdot,{\f*Symbol*\'d7}.
\cdots,{\f*Symbol*\'d7\'d7\'d7}.
\neg,{\f*Symbol*\'d8}.
\wedge,{\f*Symbol*\'d9}.
\vee,{\f*Symbol*\'da}.
\Leftrightarrow,{\f*Symbol*\'db}.
\Leftarrow,{\f*Symbol*\'dc}.
\Uparrow,{\f*Symbol*\'dd}.
\Rightarrow,{\f*Symbol*\'de}.
\Downarrow,{\f*Symbol*\'df}.
\Diamond,{\f*Symbol*\'e0}.
\langle,{\f*Symbol*\'e1}.
#\sum,{\f*Symbol*\'e5}.
\lceil,{\f*Symbol*\'e9}.
\lfloor,{\f*Symbol*\'eb}.
\rangle,{\f*Symbol*\'f1}.
\int,{\f*Symbol*\'f2}.
\iint,{\f*Symbol*\'f2}.
\rceil,{\f*Symbol*\'f9}.
\rfloor,{\f*Symbol*\'fb}.
#
# simple commands to emulate
#
\left, .
\right,.
\gg,>>.
\ll,<<.
\backslash,\\.
\vert,|.
\|,||.
\over, / .
\qquad,    .
\\,\par .
\newline,\line .
\vfill,\par \pard .
\bigskip,\par \par \par.
\medskip,\par \par.
\smallskip,\par.
\arccos,arccos.
\arcsin,arcsin.
\arctan,arctan.
\arg,arg.
\cos,cos.
\cosh,cosh.
\cot,cot.
\coth,coth.
\csc,csc.
\deg,deg.
\det,det.
\dim,dim.
\exp,exp.
\gcd,gcd.
\hom,hom.
\inf,inf.
\ker,ker.
\lg,lg.
\lim,lim.
\liminf,liminf.
\limsup,limsup.
\ln,ln.
\log,log.
\max,max.
\min,min.
\Pr,Pr.
\sec,sec.
\sin,sin.
\sinh,sinh.
\sup,sup.
\tan,tan.
\tanh,tanh.
