# $Id: fonts.cfg,v 1.11 2002/05/05 03:45:36 prahl Exp $
#
# This file defines how LaTeX fonts are translated to fonts in the RTF file.
# Each line consists of a LaTeX font name, a comma, the RTF font name, and a period.
#
# Text after a sharp (#) is ignored to the end of the line.
# For repeated LaTeX font names, only the first is used.
# Any font in the LaTeX file not mentioned is mapped to the default font.
# All RTF fonts listed in this file will be in every RTF file header whether used or not.
# No spaces before or after the comma are allowed
#
# Dummy and Dummy2 have been added to improve translation of symbols. 
# These should not be deleted.  Additional symbol fonts can be added
# by defining e.g., Dummy3,MathematicalSymbols.  Dummy3 can then be used
# in direct.cfg to handle other symbols.
#
# The default LaTeX fonts are 
#    Roman (\rm)
#    Slanted (\sl)
#    Sans Serif (\sf)
#    Typewriter (\tt)
#
Roman,Times New Roman.
Slanted,Helvetica.
Sans Serif,Helvetica.
Typewriter,Courier.
Calligraphic,Zapf Chancery.
Dummy,Symbol.
Dummy2,MT Extra.
Cyrillic Roman,Times New Roman.
Cyrillic Slanted,Helvetica.
Cyrillic Sans Serif,Helvetica.
Cyrillic Typewriter,Courier.
Cyrillic Calligraphic,Zapf Chancery.
Roman1,Palatino.
Roman2,Bookman.
Roman3,Avant Garde.
Roman4,New Century Schoolbook.
