# $Id: direct.cfg,v 1.3 2001/08/12 15:56:56 prahl Exp $
# History:
# $Log: direct.cfg,v $
# Revision 1.3  2001/08/12 15:56:56  prahl
# latex2rtf version 1.5 by Ralf Schlatterbeck
#
# Revision 1.3  1995/03/23  17:12:23  ralf
# Added some conversions proposed by Laurent MUGNIER
#
# Revision 1.2  1995/03/23  15:58:08  ralf
# Reworked version by Friedrich Polzer and Gerhard Trisko
#
# Revision 1.1  1994/06/17  11:31:05  ralf
# Initial revision
#
# DirectConvert
# This file is used for converting LaTeX commands by simply text exchange
# write the LaTex command with slash, followed by comma
# the rest of the till the . character will be written to the RTF file
# instead of the command
# After this # character everything is ignored till end of line
# To select a specific font use *fontname*. Make sure that the fontname is
# listed in the fonts configuration file at least as dummy.
# The * character is written as **

\backslash,\\.
# *** ansi character set ***
\pounds,{\ansi\'a3\pc}.
\copyright,{\ansi\'a9\pc}.
\pm,{\ansi\'b1\pc}.
\mu,{\ansi\'b5\pc}.
\cdot,{\ansi\'b7\pc}.
\cdots,{\ansi\'b7\'b7\'b7\pc}.
\div,{\ansi\'f7\pc}.
\\gg,{\ansi\'bb\pc}.
\ll,{\ansi\'ab\pc}.
\AA,{\ansi\'c5\pc}.
\AE,{\ansi\'c6\pc}.
\aa,{\ansi\'e5\pc}.
\ae,{\ansi\'e6\pc}.
\ss,{\ansi\'df\pc}.
\~n,{\ansi\'f1\pc}.
\S,{\ansi\'a7\pc}.
\P,{\ansi\'b6\pc}.
# *** greek alphabet ***
\alpha,{\f*Symbol* a}. #alpha under Windows Font Symbol
\beta,{\f*Symbol* b}.
\chi,{\f*Symbol* c}.
\delta,{\f*Symbol* d}. #delta under Windows Font Symbol
\epsilon,{\f*Symbol* e}.
\phi,{\f*Symbol* f}.
\gamma,{\f*Symbol* g}.
\eta,{\f*Symbol* h}.
\iota,{\f*Symbol* i}.
\varphi,{\f*Symbol* j}.
\kappa,{\f*Symbol* k}.
\lambda,{\f*Symbol* l}.
# \mu,{\f*Symbol* m}. already in standard ansi font
\nu,{\f*Symbol* n}.
\omicron,{\f*Symbol* o}.
\pi,{\f*Symbol* p}.
\theta,{\f*Symbol* q}.
\rho,{\f*Symbol* r}.
\sigma,{\f*Symbol* s}.
\tau,{\f*Symbol* t}.
\upsilon,{\f*Symbol* u}.
\varpi,{\f*Symbol* v}.
\omega,{\f*Symbol* w}.
\xi,{\f*Symbol* x}.
\psi,{\f*Symbol* y}.
\zeta,{\f*Symbol* z}.
\Alpha,{\f*Symbol* A}.
\Beta,{\f*Symbol* B}.
\Chi,{\f*Symbol* C}.
\Delta,{\f*Symbol* D}.
\Phi,{\f*Symbol* F}.
\Gamma,{\f*Symbol* G}.
\vartheta,{\f*Symbol* J}.
\Lambda,{\f*Symbol* L}.
\Pi,{\f*Symbol* P}.
\Theta,{\f*Symbol* Q}.
\Sigma,{\f*Symbol* S}.
\varsigma,{\f*Symbol* V}.
\Omega,{\f*Symbol* W}.
\Xi,{\f*Symbol* X}.
\Psi,{\f*Symbol* Y}.
\O,{\ansi\'d8\pc}.
\emptyset,{\ansi\'d8\pc}.
\o,{\ansi\'f8\pc}.
# other elements of Windows symbol font
\forall,{\f*Symbol* "}.
\exists,{\f*Symbol* $}.
\ast,{\f*Symbol* **}.
\infty,{\ansi\f*Symbol*\'a5\pc}.
\clubsuit,{\ansi\f*Symbol*\'a7\pc}.
\diamondsuit,{\ansi\f*Symbol*\'a8\pc}.
\heartsuit,{\ansi\f*Symbol*\'a9\pc}.
\spadesuit,{\ansi\f*Symbol*\'aa\pc}.
\leftrightarrow,{\ansi\f*Symbol*\'ab\pc}.
\leftarrow,{\ansi\f*Symbol*\'ac\pc}.
\uparrow,{\ansi\f*Symbol*\'ad\pc}.
\rightarrow,{\ansi\f*Symbol*\'ae\pc}.
\downarrow,{\ansi\f*Symbol*\'af\pc}.
\circ,{\ansi\f*Symbol*\'b7\pc}.
\ne,{\ansi\f*Symbol*\'b9\pc}.
\equiv,{\ansi\f*Symbol*\'ba\pc}.
\approx,{\ansi\f*Symbol*\'bb\pc}.
\dots,{\ansi\f*Symbol*\'bc\pc}.
\Leftrightarrow,{\ansi\f*Symbol*\'db\pc}.
\Leftarrow,{\ansi\f*Symbol*\'dc\pc}.
\Uparrow,{\ansi\f*Symbol*\'dd\pc}.
\Rightarrow,{\ansi\f*Symbol*\'de\pc}.
\Downarrow,{\ansi\f*Symbol*\'df\pc}.
\langle,{\ansi\f*Symbol*\'e1\pc}.
\lceil,{\ansi\f*Symbol*\'f9\pc}.
\lfloor,{\ansi\f*Symbol*\'fb\pc}.
\rangle,{\ansi\f*Symbol*\'f1\pc}.
\rceil,{\ansi\f*Symbol*\'e9\pc}.
\rfloor,{\ansi\f*Symbol*\'eb\pc}.
\|,|.
\Re,{\ansi\f*Symbol*\'c2\pc}.
\Im,{\ansi\f*Symbol*\'c1\pc}.
\cap,{\ansi\f*Symbol*\'c7\pc}.
\cup,{\ansi\f*Symbol*\'c8\pc}.
\supset,{\ansi\f*Symbol*\'c9\pc}.
\supseteq,{\ansi\f*Symbol*\'ca\pc}.
\subset,{\ansi\f*Symbol*\'cc\pc}.
\subseteq,{\ansi\f*Symbol*\'cd\pc}.
\propto,{\ansi\f*Symbol*\'b5\pc}.
\in,{\ansi\f*Symbol*\'ce\pc}.

\\,\par .
\newline,\line .
\vfill,\par \pard .
\vdots,:.
\ddots,:.
\bigskip,\par \par \par.
\medskip,\par \par.
\smallskip,\par.
\arccos,arccos.
\arcsin,arcsin.
\arctan,arctan.
\arg,arg.
\cos,cos.
\cosh,cosh.
\cot,cot.
\coth,coth.
\csc,csc.
\deg,deg.
\det,det.
\dim,dim.
\exp,exp.
\gcd,gcd.
\hom,hom.
\inf,inf.
\ker,ker.
\lg,lg.
\lim,lim.
\liminf,liminf.
\limsup,limsup.
\ln,ln.
\log,log.
\max,max.
\min,min.
\Pr,Pr.
\sec,sec.
\sin,sin.
\sinh,sinh.
\sup,sup.
\tan,tan.
\tanh,tanh.
